.customer-food-card-container {
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.171);
  width: 80%;
  margin: 1rem;
  height: 5rem;
}

.customer-foods-container {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-between;
}

.customer-food {
  display: flex;
}