* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.App {
  max-width: 70rem;
  margin: 0 auto;
  padding: 5rem 0;
}

.container {
  display: flex;
}

.reservation-container {
  width: 20%;
  border-right: 0.1rem solid rgba(58, 58, 58, 0.548);
}

.customer-food-container p {
  margin-right: 1rem;
  font-weight: 200;
}
